enhanced_phone_validation_scenario.json
{
  "name": "ELTEX Phone Number Validation Workflow",
  "flow": [
    {
      "id": 1,
      "module": "webhook:webhook",
      "version": 1,
      "parameters": {
        "hook": 1,
        "multiple": false
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {},
        "parameters": [
          {
            "name": "hook",
            "type": "hook",
            "label": "Webhook",
            "required": true
          }
        ],
        "interface": [
          {
            "name": "first_name",
            "type": "text"
          },
          {
            "name": "last_name",
            "type": "text"
          },
          {
            "name": "phone",
            "type": "text"
          },
          {
            "name": "email",
            "type": "email"
          },
          {
            "name": "street",
            "type": "text"
          },
          {
            "name": "zipcode",
            "type": "text"
          },
          {
            "name": "city",
            "type": "text"
          },
          {
            "name": "nutzflaeche",
            "type": "number"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "util:setvariable2",
      "version": 1,
      "parameters": {},
      "mapper": {
        "name": "cleaned_phone",
        "scope": "roundtrip",
        "value": "{{replace(replace(replace(1.phone; \"tel: \"; \"\"); \" \"; \"\"); \"-\"; \"\")}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {
          "parameters": {
            "scope": {
              "label": "One cycle"
            }
          }
        }
      }
    },
    {
      "id": 3,
      "module": "util:router",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 4,
              "module": "http:ActionSendData",
              "version": 3,
              "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
              },
              "mapper": {
                "url": "https://primary-production-1cd8.up.railway.app/webhook/webhook-phone-automation",
                "serializeUrl": false,
                "method": "post",
                "headers": [
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  }
                ],
                "qs": [],
                "bodyType": "raw",
                "parseResponse": true,
                "authUser": "",
                "authPass": "",
                "timeout": 300,
                "shareCookies": false,
                "ca": "",
                "rejectUnauthorized": true,
                "followRedirect": true,
                "useQuerystring": false,
                "gzip": true,
                "useMtls": false,
                "contentType": "application/json",
                "data": "{\n  \"full_name\": \"{{1.first_name}} {{1.last_name}}\",\n  \"phone_number\": \"{{2.cleaned_phone}}\",\n  \"address1\": \"{{1.street}}\",\n  \"postcode\": \"{{1.zipcode}}\",\n  \"email\": \"{{1.email}}\",\n  \"city\": \"{{1.city}}\",\n  \"nutzflaeche\": {{1.nutzflaeche}}\n}"
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": -150
                },
                "restore": {
                  "parameters": {
                    "handleErrors": {
                      "label": "No"
                    },
                    "useNewZLibDeCompress": {
                      "label": "Yes"
                    }
                  },
                  "expect": {
                    "method": {
                      "mode": "chose",
                      "label": "POST"
                    },
                    "bodyType": {
                      "label": "Raw"
                    },
                    "contentType": {
                      "label": "JSON (application/json)"
                    }
                  }
                }
              }
            }
          ],
          "filter": {
            "name": "Spanish Phone Number",
            "conditions": [
              [
                {
                  "a": "{{2.cleaned_phone}}",
                  "b": "^(\\+34|0034|34|[67])",
                  "o": "regex"
                }
              ]
            ]
          }
        },
        {
          "flow": [
            {
              "id": 5,
              "module": "email:ActionSendEmailV2",
              "version": 3,
              "parameters": {
                "account": 1
              },
              "mapper": {
                "from": "noreply@eltex.es",
                "to": [
                  "l.lemos@eltex.es"
                ],
                "subject": "Foreign Number Alert - {{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                "html": "<h2>🚨 Foreign Phone Number Detected</h2>\n<p><strong>Contact Details:</strong></p>\n<ul>\n<li><strong>Name:</strong> {{1.first_name}} {{1.last_name}}</li>\n<li><strong>Phone:</strong> {{1.phone}} (Original: {{2.cleaned_phone}})</li>\n<li><strong>Email:</strong> {{1.email}}</li>\n<li><strong>Address:</strong> {{1.street}}, {{1.city}} {{1.zipcode}}</li>\n<li><strong>Area:</strong> {{1.nutzflaeche}} m²</li>\n</ul>\n<p><strong>Timestamp:</strong> {{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}</p>\n<p>This phone number appears to be from outside Spain and requires manual review.</p>",
                "attachments": []
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 150
                },
                "restore": {
                  "parameters": {
                    "account": {
                      "label": "ELTEX Email Account"
                    }
                  },
                  "expect": {
                    "to": {
                      "mode": "edit"
                    },
                    "cc": {
                      "mode": "edit"
                    },
                    "bcc": {
                      "mode": "edit"
                    },
                    "attachments": {
                      "mode": "edit"
                    }
                  }
                }
              }
            }
          ],
          "filter": {
            "name": "Foreign Phone Number",
            "conditions": [
              [
                {
                  "a": "{{2.cleaned_phone}}",
                  "b": "^(\\+34|0034|34|[67])",
                  "o": "regex",
                  "n": true
                }
              ]
            ]
          }
        }
      ]
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu2.make.com"
  },
  "webhooks": [
    {
      "id": 1,
      "name": "ELTEX Phone Validation Webhook",
      "teamId": null,
      "url": "https://hook.eu2.make.com/YOUR_WEBHOOK_ID_HERE"
    }
  ],
  "connections": [
    {
      "id": 1,
      "name": "ELTEX Email Account",
      "label": "Email Connection",
      "type": "email"
    }
  ]
}
