n8n-phone-number-automation.json
{
  "name": "Phone Number Automation Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-phone-automation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "phone-automation-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.payload.phone }}",
              "operation": "regex",
              "value2": "^(\\+34|tel:\\s*[67]|[67])"
            }
          ]
        }
      },
      "id": "phone-check-node",
      "name": "Check Spanish Phone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://hook.eu2.make.com/ok6kkis1cr826nwieyad2ikgmt6jruoe",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"full_name\": \"{{ $json.payload.first_name }} {{ $json.payload.last_name }}\",\n  \"phone_number\": \"{{ $json.payload.phone }}\",\n  \"address1\": \"{{ $json.payload.street }}\",\n  \"postcode\": \"{{ $json.payload.zipcode }}\",\n  \"email\": \"{{ $json.payload.email }}\",\n  \"city\": \"{{ $json.payload.city }}\",\n  \"nutzflaeche\": \"{{ $json.payload.infos.nutzflaeche }}\"\n}",
        "options": {}
      },
      "id": "spanish-http-node",
      "name": "Send Spanish Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourdomain.com",
        "toEmail": "l.lemos@eltex.es",
        "subject": "New Foreign Number Alert",
        "text": "=A new foreign number has entered the system today: Contact {{ $json.payload.first_name }} {{ $json.payload.last_name }} with phone number {{ $json.payload.phone }}.\n\nDate: {{ $now.format('yyyy-MM-dd') }}",
        "options": {}
      },
      "id": "foreign-email-node",
      "name": "Send Foreign Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 400],
      "credentials": {
        "smtp": {
          "id": "your-smtp-credentials-id",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"message\": \"Spanish number processed\", \"phone\": \"{{ $json.payload.phone }}\" }"
      },
      "id": "spanish-response-node",
      "name": "Spanish Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"message\": \"Foreign number alert sent\", \"phone\": \"{{ $json.payload.phone }}\" }"
      },
      "id": "foreign-response-node",
      "name": "Foreign Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Spanish Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Spanish Phone": {
      "main": [
        [
          {
            "node": "Send Spanish Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Foreign Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Spanish Data": {
      "main": [
        [
          {
            "node": "Spanish Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Foreign Alert Email": {
      "main": [
        [
          {
            "node": "Foreign Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}
